<div class="card p-3 border-secondary bg-secondary shadow">
  <h4 class="mb-0 text-white text-center">Participa en el concurso</h4>
  <hr class="bg-white w-75 mx-auto mb-0" />
  <form ngNoForm (submit)="submitForm($event)">
    <h6 class="text-white mt-4">1) Sube un video creativo</h6>
    <div class="mt-4 text-center mb-0">
      <ng-container *ngIf="!uploadedVideo">
        <input type="file" name="file" id="file" class="inputfile" accept="video/*" (change)="getFileDetails($event)" />
        <label for="file" class="btn btn-outline-secondary text-white p-3 font-weight-bold shadow-sm">🎥&nbsp;Selecciona
          tu
          video</label>
      </ng-container>
      <ng-container *ngIf="uploadedVideo">
        <p class="text-white font-weight-bold">
          {{uploadedVideo.name}}
        </p>
        <button *ngIf="!loading" type="button" (click)="uploadedVideo = null"
          class="btn btn-sm btn-outline-danger border border-white text-white p-2 font-weight-bold">
          <i class="fas fa-trash"></i>&nbsp;&nbsp;Remover
        </button>
      </ng-container>
    </div>

    <h6 class="text-white mt-2">2) Ingresa tus datos</h6>

    <div class="mt-3">
      <label class="font-weight-bold text-white" for="email">
        Email
      </label>
      <input [attr.disabled]="loading ? true : null" id="email" class="form-control border-white shadow-sm" type="email"
        maxlength="320" required [(ngModel)]="videoUpload.email">
    </div>

    <div class="mt-3">
      <label class="font-weight-bold text-white" for="name">
        Nombre(s)
      </label>
      <input [attr.disabled]="loading ? true : null" id="name" class="form-control border-white shadow-sm" type="text"
        maxlength="45" required [(ngModel)]="videoUpload.name">
    </div>

    <div class="mt-3">
      <label class="font-weight-bold text-white" for="lastName">
        Apellido(s)
      </label>
      <input [attr.disabled]="loading ? true : null" id="lastName" class="form-control border-white shadow-sm"
        type="text" maxlength="45" required [(ngModel)]="videoUpload.lastName">
    </div>

    <div class="mt-3">
      <label class="font-weight-bold text-white" for="message">
        Mensaje
      </label>
      <textarea [attr.disabled]="loading ? true : null" id="message" class="form-control border-white shadow-sm"
        cols="30" rows="3" minlength="10" [(ngModel)]="videoUpload.message" required></textarea>
    </div>

    <div class="mt-3">
      <p class="text-white small">*Puedes participar varias veces con el mismo email, pero se guardará tu último nombre
        y apellido</p>
    </div>

    <div class="text-center mt-4">
      <button  [attr.disabled]="!uploadedVideo ? true : null" *ngIf="!loading" class="btn btn-info border border-white"
        type="submit"  ><i class="fas fa-check"></i>&nbsp;Participar</button>
      <i *ngIf="loading" class="fas fa-spin fa-spinner text-info fa-2x"></i>
    </div>
  </form>
</div>


<!-- <div class="card w-100 p-2 m-0 text-white border-secondary shadow text-secondary">
  <div class="row">
    <div class="col-2 text-right">
      <h3><i class="fas fa-chevron-left text-white mt-4 pointer" (click)="goHome()"></i></h3>
    </div>
    <div class="col-8">
      <h3>Participa en el concurso</h3>
      <h5>Sube tu mejor video</h5>
      <form ngNoForm (submit)="submitForm($event)">
        <div class="mt-3">
          <label class="font-weight-bold" for="email">
            Correo
          </label>
          <input [attr.disabled]="loading ? true : null" id="name"
            class="form-control border-secondary text-white shadow-sm" type="email" maxlength="320" required
            [(ngModel)]="signIn.email">
        </div>

        <div class="mt-3">
          <label class="font-weight-bold" for="password">
            Contraseña
          </label>
          <input [attr.disabled]="loading ? true : null" id="password"
            class="form-control border-secondary text-white shadow-sm" type="password" minlength="8" maxlength="20"
            required [(ngModel)]="signIn.password">
        </div>
        <div class="text-center mt-4">
          <button *ngIf="!loading" class="btn btn-info border border-white" type="submit">Iniciar sesión</button>
          <i *ngIf="loading" class="fas fa-spin fa-spinner text-info fa-2x"></i>
        </div>
      </form>
      <ng-container *ngIf="!loading">
        <hr class="bg-white w-75 mx-auto mt-4 mb-3" />
        <p class="mb-0 text-center small">¿Aún no tienes una cuenta? <a class="text-white font-weight-bold"
            routerLink="/signUp">Regístrate</a>
        </p>
      </ng-container>
      <ng-container *ngIf="loading">
        <br /><br />
      </ng-container>
    </div>
  </div>
  <div class="card">

  </div>
</div> -->
