// Variables
@import './variables.scss';

@import '../node_modules/bootstrap/scss/bootstrap';

html,
body,
app-root {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

#routerContainer {
  min-height: 100vh;
}

.full-height {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.text-shadow-lg {
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}


input[type="email"] {
  text-transform: lowercase;
}
