@import 'src/variables.scss';

input[type="text"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

em {
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
