<div class="row full-height d-flex align-items-center bg-secondary">
  <div class="col-lg-4 mx-auto">
    <div class="card w-100 p-3 m-0 bg-secondary text-white border-secondary">
      <div class="row">
        <div class="col-2 text-right">
        </div>
        <div class="col-8">
          <h3>Hola admin!</h3>
          <h3> Creacion de concursos para <br /><em class="text-shadow-lg">SmartTools</em></h3>,
          <form ngNoForm (submit)="submitForm($event)">

            <div class="mt-3">
              <label class="font-weight-bold" for="name">
                Nombres
              </label>
            </div>

            <div class="mt-3">
              <label class="font-weight-bold" for="lastName">
                Imagen
              </label>
            </div>

            <div class="mt-3">
              <label class="font-weight-bold" for="email">
                Url
              </label>
            </div>

            <div class="mt-3">
              <label class="font-weight-bold" for="password">
                Start & End date
              </label>
            </div>

            <div class="mt-3">
              <label class="font-weight-bold" for="password">
                Descripcion
              </label>
            </div>

            <div class="text-center mt-4">
              <p>Crear concurso</p>
            </div>
          </form>
          <ng-container *ngIf="!loading">
            <hr class="bg-white w-75 mx-auto mt-4 mb-3" />

          </ng-container>
          <ng-container *ngIf="loading">
            <br /><br />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
